.table-content {
    height: 500px;
    overflow: auto;
}

.main-table {
    width: 100%;
    border-collapse: collapse;
}

    .main-table tbody tr:nth-child(even) {
        background-color: #d0d0d0;
    }

    .main-table th {
        border: 1px solid #000;
    }

    .main-table td {
        border: 1px solid #000;
        height: 32px;
    }

.selected {
    background-color: #00ff90 !important;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.uncheck {
    width: 30px;
    background: url('/Contents/images/uncheck.png') center no-repeat;
}

.check {
    width: 30px;
    background: url('/Contents/images/check.png') center no-repeat;
}

.tick {
    background-color: #00ff90 !important;
}

